.form-input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-color: #00d6d1;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
}

.form-input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    border-radius: 25px;
}