.form-input-group {
    display: flex;
    align-items: center;
    margin: 10px auto; /* Adjusted for more vertical space */
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border: 2px solid #00d6d1;
    border-radius: 6px;
}

.form-input {
    flex-grow: 1;
    margin-right: 10px;
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    border-radius: 25px;
    padding-left: 15px;
}

.form-input::placeholder {
    color: #a9a9a9;
    opacity: 1;
    font-size: 19px;
}


.form-input:focus, .form-input:not(:focus) {
    outline: none;
    border: none;
}

.form-input:active, .form-input:hover, .form-input:visited {
    outline: none;
    border: none;
}

