.form-input-group {
    display: flex;
    align-items: center;
    margin: 10px auto; /* Ajustado para agregar más espacio vertical */
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-color: #00d6d1;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
}

.form-input {
    flex-grow: 1; /* Permite que el input crezca para ocupar el espacio disponible */
    margin-right: 10px; /* Agregar margen derecho para separar el input del botón */

    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    border-radius: 25px;
    padding-left: 15px; /* Agregar padding izquierdo para alinear el texto dentro del input */
}
