.form-input-group {
    display: flex;
    align-items: center;
    margin: 10px auto; /* Adjusted for more vertical space */
    width: 70%;
    height: 70px;
    background: #eaeaea;
    border: 2px solid #0ea9ea;
    border-radius: 6px;
}

.form-input {
    flex-grow: 1;
    margin-right: 10px;
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    border-radius: 25px;
    padding-left: 15px;
}

.form-input::placeholder {
    color: #a9a9a9;
    opacity: 1;
    font-size: 19px;
}

.form-input:focus, .form-input:not(:focus) {
    outline: none;
    border: none;
}

.form-input:active, .form-input:hover, .form-input:visited {
    outline: none;
    border: none;
}

.btn-send-form {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(145deg, #004aad, #0084d1);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.btn-send-form:hover {
    background-image: linear-gradient(145deg, #0857b9, #20a0ee);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

