.show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 50%;
    padding: 40px 20px 0px;
    margin: 80px auto 20px auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 50%;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-content: center;
    flex-wrap: wrap;
}

.show-container {
    display: flex;
    align-items: center;
    width: 50VW;
    flex-direction: column;
}

.show-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.show-separator {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    margin: 20px 0;
    flex-wrap: wrap;
}

.show-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-card h1 {
    margin-bottom: 20px;
}

.show-info {
    flex: 2 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    align-content: flex-start;
    flex-wrap: wrap;
}

.show-bio {
    order: 1;
}

.show-elements {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}

.show-elements h3{
    margin-right: 10px;
}

.show-card img {
    width:300px;
    height: 300px;
    object-fit: contain;
}

.profile-picture-container-, .profile-picture-container-admin {
    position: relative;
    display: inline-block;
} {
    position: relative;
    display: inline-block;
}

.profile-picture-container- img {
    opacity: 1;
    cursor: default;
}

.profile-picture-container-admin img {
    cursor: pointer;
}

.profile-picture-container-admin:hover img {
    opacity: 0.7;
}

.profile-picture-container-admin:hover .edit-icon {
    opacity: 1;
}


.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.clickable-name {
    cursor: pointer;
}

.clickable-name:hover {
    opacity: 0.5;
}

.all-actors-button{
    color: #0c8ee1;
    cursor: pointer;
}

.all-actors-button:hover {
    opacity: 0.6;
}

.tittle-text-review {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 10px;
}

.review-show-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}