.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 50%;
    padding: 10px;
    margin: 80px auto auto auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.back {
    display: flex;
    align-items: start;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle-text {
    display: flex;
    justify-content: center;
    color: #0ea9ea;
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.error-message {
    color: red;
}
