.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin: 80px auto 20px auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.user-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    align-self: center;

}

h1, h2, h3, h4 {
    text-align: center;
    height: 10px;
}

.user-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.user-image img{
    width: 150px;
    height: 150px;
    margin: 10px;
}

.user-data {
    display: flex;
    flex-direction: row;
}

.username-rating {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.followers, .following {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.menu-icon {
    height: 30px;
    cursor: pointer;
    align-self: flex-end;
}

.menu-icon img {
    width: 20px;
    height: 20px;
}

.rating-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.rating-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.buttons button {
    margin-right: 10px;
}

.menu-item:hover {
    background-color: #f0f0f0;
    color: black;
}

.delete-account-item:hover {
    color: red;
    font-weight: bold;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
}

.profile-picture-container:hover img {
    opacity: 0.7;
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile-picture-container:hover .edit-icon {
    opacity: 1;
}

/* ConfirmationDialog.css */
.dialog {
    font-family: Arial, sans-serif;
}

.dialog-title {
    background-color: #2196f3;
    color: white;
    font-weight: bold !important;
    padding-bottom: 30px !important;
}

.dialog-content {
    padding: 20px !important;
}

.dialog-actions {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

.redButton {
    background-color: red !important;
    color: white;
    font-weight: bold;
}

.menus {
    display: flex;
    flexDirection: row;
    align-self: flex-end;
}

.favorite-icon-user {
    color: red;
}

.followers-following {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.verify-button {
    color: dodgerblue;
}

.follow-link:hover {
    cursor: pointer;
    opacity: 0.7;
}
.header-switcher {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;
}
.header-switcher button {
    flex-grow: 1;
}

@media (max-width: 650px) {
    .user-wishlist-review-container, .user-container {
        width: 100%;
    }


}

@media (min-width: 650px) {
    .user-wishlist-review-container, .user-container {
        width: 50%;
        padding: 40px 20px;
    }
}

.user-wishlist-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin: 80px auto 20px auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.show-boolean-preview {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-grow: 2;
}