.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 650px;
    padding: 40px 20px;
    margin: 80px auto 20px auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.signup-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.signup-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.signup-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up-text {
    display: flex;
    justify-content: center;
    color: #00d6d1;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.signup-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-button {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(145deg, #004aad, #0084d1);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.signup-button:hover {
    background-image: linear-gradient(145deg, #00d6d1, #00b2aa);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.error-message {
    color: red;
}

.signin-link {
    margin-top: 20px;
    color: #00d6d1;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}