.review-preview-carrousel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    min-width: 80%;
}

