.review-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    flex-grow: 1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
}

.review-preview-container img {
    width:200px;
    height: 200px;
    object-fit: contain;
}

.review-image:hover {
    cursor: pointer;
}

.review-preview-image {
    width:200px;
    height: 200px;
    object-fit: contain;
}

.review-content {
    flex-grow: 1;
}

@media (max-width: 650px) {
    .review-content {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

}