.review-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-preview-container img {
    width:200px;
    height: 200px;
    object-fit: contain;
}

.review-image:hover {
    cursor: pointer;
}

.review-preview-image {
    width:200px;
    height: 200px;
    object-fit: contain;
}

.review-content {
    flex-grow: 1;
}