html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1969d5, #05274f) fixed;
}

.container-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: max-content;
    min-width: 50%;
    padding: 40px 20px;
    margin: 80px auto 20px auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-img {
    height: 60px;
    display: flex;
    align-items: stretch;
    gap: 10px;
    flex-grow: 1;
}

.header-img img {
    height: 60px;
    width: auto;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle-text {
    display: flex;
    justify-content: center;
    color: #0ea9ea;
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Asegura que el formulario ocupe todo el ancho disponible */
    max-width: 400px; /* Ajusta este valor según sea necesario */
}

.inputs .wide-input {
    width: 100%; /* Asegura que los TextField ocupen todo el ancho del contenedor */
    margin-bottom: 20px;
}

.error-message {
    color: red;
}

.link {
    margin-top: 20px;
    color: #0ea9ea;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.success-message {
    background-color: #D4EDDA;
    color: #155724;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    border: 1px solid #C3E6CB;
}

.header-img img {
    height: 60px;
    width: auto;
}

.container img {
    height: 60px;
    width: auto;
}
