.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 650px;
    padding: 40px 20px;
    margin: 80px auto 20px auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle-text {
    display: flex;
    justify-content: center;
    color: #00d6d1;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.error-message {
    color: red;
}

.link {
    margin-top: 20px;
    color: #00d6d1;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
