.content-container {
    display: flex;
    justify-content: space-between;
}

.form-container, .actor-list-container {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {

    padding: 15px 10px;
    font-size: 16px; /* Larger font size for better readability */
    color: #333; /* Darker text color for better contrast */
    border: 2px solid #ccc; /* Solid border with a subtle color */
    border-radius: 8px; /* Rounded corners for a modern look */
    background-color: #f8f8f8; /* Light background color */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle inner shadow for depth */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.form-control:hover {
    border-color: #999; /* Darker border on hover for feedback */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); /* Slightly deeper shadow on hover */
}

.form-control:focus {
    border-color: #666; /* Even darker border for focused state */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); /* Deeper shadow for focus indication */
    outline: none; /* Remove default outline to avoid style clashing */
}

.actor-list-container {
    max-width: 400px; /* Adjust this width as necessary */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.actor-list-container h3 {
    margin-top: 0;
    color: #333;
}

.actor-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.delete-actor {
    margin-left: 10px;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.delete-actor:hover {
    color: darkred;
}
