.search-bar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: #dedada;
    border: 2px solid #0d2b4d;
    border-radius: 50px;
    position: relative;
}

.search-input, .search-dropdown, .btn-search {
    border: none; /* Remove individual borders */
    background-color: transparent; /* Blend with the search bar */
}

.search-dropdown {
    min-width: 125px;
    font-size: 16px;
}

.btn-search {
    height: 25px;
    margin-right: 15px;
    cursor: pointer;
}

.search-input {
    outline: none;
    flex-grow: 1; /* Ensure the input takes up available space */
}

.search-input::placeholder {
    color: #151313;
    opacity: 40%;
    font-size: 19px;
}

.search-input:focus, .search-input:not(:focus), .search-input:active, .search-input:hover, .search-input:visited,
.search-input:active, .search-input:hover, .search-input:visited {
    outline: none;
    border: none;
}

.search-results {
    position: absolute;
    top: 100%; /* Position directly below the search bar */
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width */
    z-index: 1000; /* Ensure it is above other elements */
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dedada;
    cursor: pointer;
}

.search-result-item:hover {
    background: #f0f0f0;
}

.search-result-item:nth-child(even) {
    background: #fafafa;
}

.search-result-item:nth-child(odd) {
    background: #fff;
}

.result-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

/* Media Queries */
@media (max-width: 650px) {
    .search-results {
        position: fixed;
        top: 60px; /* Adjust based on header height */
        left: 0;
        width: 100%;
        max-height: calc(100vh - 60px); /* Full height minus the space for the header */
        border-radius: 0;
        box-shadow: none;
    }
}