.add-show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 50%;
    padding: 40px 20px;
    margin: 80px auto 20px auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-container {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form-control {
    padding: 15px 10px;
    font-size: 16px; /* Larger font size for better readability */
    color: #333; /* Darker text color for better contrast */
    border: 2px solid #ccc; /* Solid border with a subtle color */
    border-radius: 8px; /* Rounded corners for a modern look */
    background-color: #f8f8f8; /* Light background color */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle inner shadow for depth */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.form-control:hover {
    border-color: #999; /* Darker border on hover for feedback */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); /* Slightly deeper shadow on hover */
}

.form-control:focus {
    border-color: #666; /* Even darker border for focused state */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); /* Deeper shadow for focus indication */
    outline: none; /* Remove default outline to avoid style clashing */
}

.actor-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    max-width: 300px; /* Adjust this width as necessary */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.actor-list-container h3 {
    margin-top: 0;
    color: #333;
}

.actor-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.actor-list li {
    width: 280px;
}

.delete-actor {
    margin-left: 10px;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.delete-actor:hover {
    color: darkred;
}

.btn-addActor {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    transition: background-color 0.2s, transform 0.2s;
    display: inline-block;
    background-color: #007bff;
}

.container img {
    width:200px;
    height:200px;
    object-fit: contain;
    align-self: center;
}

.image-preview img {
    width:200px;
    height:200px;
    object-fit: contain;
}

.add-actor-package {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.add-actor-package Button {
    margin-left: 10px;
}

.add-actor-package TextField {
    flex-grow: 1;
}

.add-show-preview-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    align-content: center;
}

.add-show-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.add-show-form-child {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
}

.add-show-form-child .MuiFormControl-root {
    flex-grow: 1;
}

.show-search-results-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
}

.show-import-search {
    display: flex;
    flex-direction: column;
}

.show-type-selector {
    padding: 10px;
}

.show-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
}

.actor-list-image-upload-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    padding: 10px;
}

.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
}

.actor-list-container {
    flex-grow: 1;
}