/* Header Styles */
.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #4783ef;
}

.header-logo img {
    height: 50px;
    width: auto;
}

.logo-small {
    display: none;
}

.logo-large {
    display: block;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    transition: max-height 0.3s ease-out;
    max-height: none;
    max-width: 600px; /* Establecer un ancho máximo */
    width: 100%;
    margin: 0 auto; /* Centra el contenedor */
}

.search-container.hidden {
    display: none;
}

.search-container.visible {
    max-height: 100px; /* Ajusta según sea necesario */
}

.header-right-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right-buttons img {
    height: 25px;
    cursor: pointer;
}

.header-right-buttons.hidden, .header-logo.hidden {
    display: none;
}

.search-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 750px) {
    .logo-large {
        display: none;
    }

    .logo-small {
        display: block;
    }
}

@media (max-width: 650px) {
    .search-container {
        max-height: 0;
        overflow: hidden;
    }

    .search-container.visible {
        max-height: 100px;
        display: flex; /* Asegura que el display sea flex cuando se muestra */
    }

    .header-right-buttons.hidden, .header-logo.hidden {
        display: none;
    }

    .header-menu {
        justify-content: space-between;
    }

    .search-close-button {
        display: flex;
    }
}

.notification-count {
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 12px;
    font-size: 0.75rem;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right-buttons .MuiIconButton-root {
    position: relative;
}