.header-menu {
    padding: 20px; /* Add padding for breathing space */
    width: 97%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4783ef;
}

.header-logo {
    margin: 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-grow: 1;
}



.header-logo img {
    height: 60px;
}

.header-right-buttons {
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex-grow: 1;
}

.btn-profile, .btn-logout, .btn-home {
    padding: 5px 5px;
    height: 35px;

}


