.button {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    transition: background-color 0.2s, transform 0.2s;
    display: inline-block;
}

.btn-addActor {
    background-color: #007bff;
}

.btn-save {
    background-color: #28a745;
}

.btn-search {
    background-color: #007bff;
}

.btn-profileName {
    background-color: rgba(0, 0, 0, 0);
}

.btn-logout {
    background-color: #dc3545;
}