.review-container {
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 10px;
    margin: 10px;
}

.review-header {
    align-self: flex-start;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.review-header img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.review-header h2 {
    align-self: center;
    margin-right: 10px;
}

.review-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.review-footer img {
    cursor: pointer;
    margin-right: 5px;
    height: 25px;
    width: 25px;
}