.review-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.review-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-header img {
    height: 20px;
    width: 20px;
}

.review-header h2 {
    margin-right: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.review-header h2:hover {
    opacity: 0.7;
}

.review-body {
    margin: 10px 0;
    text-align: start;
}

.review-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.review-footer .like-container {
    display: flex;
    align-items: center;
}

.review-footer img {
    cursor: pointer;
    margin-right: 5px;
    height: 25px;
    width: 25px;
    transition: transform 0.3s ease;
}

.review-footer img:hover {
    transform: scale(1.1);
}

.name-and-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.delete-icon:hover {
    color: red;
}

.start-icon {
    color: gold;
    margin-right: 2px;
}

.favorite-icon {
    color: red;
}

.favorite-border-icon:hover {
    cursor: pointer;
}

.favorite-icon:hover {
    cursor: pointer;
}

.username:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media (max-width: 600px) {
    .review-container {
        padding: 5px;
        margin: 5px;
    }

    .review-header h2 {
        font-size: 1.2em;
    }

    .review-footer img {
        height: 20px;
        width: 20px;
    }
}
.verified-icon {
    color: dodgerblue;
}
