/* AddReview.css */
.add-review-container {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
    font-family: 'Arial', sans-serif;
    background: #1969d5;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="radio"] {
    margin-right: 5px;
    display: none;
}

.rating {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    direction: rtl;
}

.rating label {
    cursor: pointer;
    transition: color 0.3s ease;
}

.rating input {
    display: none; /* Hide the default radio buttons */
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    color: #ffc107; /* Gold color on hover and selected */
}

.rating input:checked ~ label {
    color: #ffc107; /* Gold color when selected */
}

input[type="text"], button[type="submit"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 30%;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.rating label.selected {
    color: #ffc107; /* Gold color when selected */
}

.review-input {
    width: 100% !important;
    align-self: center !important;
    background-color: #bcd7fc;
}